body {
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 0;
}
.active {
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: yellow;
    margin: 0;
}

.hand {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    
}
#board {
    background-color: skyblue;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.playCardButton {
    display: inline-block;
    background-color: teal;
}
.inactive {
    display: inline-block;
    width: 100px;
    height:150px;
    background-color: #ffa500;
    padding: 10px;
    margin: 10px;
}
.card {
    position: relative;
    display: flex;
    width: 100px;
    height: 150px;
    background-color: orangered;
    margin: 2px;
    border: 1px solid;
    padding: 0;
    flex-direction: column;

}
#boardDebug {
    display: flex;
    margin: 0;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
/* .stuff {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
} */