body {
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 0;
}
.cardThatIsActive:not(:empty), .activePlayerPlayedCards:not(:empty) {
    display: inline-block;
    width: auto;
    max-width: 200px;
    min-width: 100px;
    height: auto;
    min-height: 150px;
    background-color: yellow;
    margin: 5px;
}

.hand {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    
}
#board {
    background-color: skyblue;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.playCardButton {
    display: block;
    background-color: teal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.inactive {
    display: inline-block;
    width: 100px;
    height:150px;
    background-color: #ffa500;
    padding: 10px;
    margin: 10px;
}
.card {
    position: relative;
    display: flex;
    width: 100px;
    height: 150px;
    background-color: orangered;
    margin: 2px;
    border: 1px solid;
    padding: 0;
    flex-direction: column;

}
#boardDebug {
    display: flex;
    margin: 0;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
}
/* .stuff {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
} */