body {
    background-color: aliceblue;
    /*text-align: center;*/
    margin: 0;
    padding: 0;
}
.cardThatIsActive:not(:empty), .activePlayerPlayedCards:not(:empty), .inactivePlayerPlayedCards:not(:empty), .discardPile:not(:empty) {
    display: inline-block;
    width: 100px;
    height: 125px;
    position: relative; /* work with this!!!!!! loop through it in javascript? */ 
    vertical-align: top;
}
.playCardButton {
    display: block;
    background-color: teal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.inactive { /* these are the inactive cards in the other person's hand */
    display: inline-block;
    width: 100px;
    height:125px;
    background-color: #ffa500;
    padding: 10px;
    margin: 10px;
}
/*.card {
    position: relative;
    /*display: flex;
    width: 100px;
    height: 150px;
    background-color: orangered;
    margin: 2px;
    border: 1px solid;
    padding: 0;
    flex-direction: column;

}*/
/* #boardDebug {
    display: flex;
    margin: 0;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
} */
/* .stuff {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
} */
/*.cardFaceUp:hover .abilityInformation {
    display:block;
    position:fixed;
    overflow:hidden;
    background: yellow;
    max-width: 300px;
}*/
[id^="hover"] {
    text-align: left;
    padding: 5px;
}
.inactivePlayerPlayedCards.active {
    border-color: red; /* figure out css variables? */
    -webkit-box-shadow: 0 0 5px red;
       -moz-box-shadow: 0 0 5px red;
            box-shadow: 0 0 5px red;
}
.activePlayerPlayedCards.active {
    border-color: blue; /* css variables lol */
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;
}
.abilityPopout {
    position: absolute;
    left: 100%;
    height: auto;
    width: 200%;
    background: yellow;
    padding: 5px;
    z-index: 3;
    box-shadow: 5px 5px 5px black;
    border: 2px groove red;
    border-radius: 3px;
    top: 0%;
}
.red {
    color: red;
}
.right:not(.functionsEnd, .functionsDraw) {
    height: 150px;
}
.right {
    min-width: 90%;
    position: relative;
    padding-left: 5px;
}
.left:not(.functionsEnd, .functionsDraw) {
    width: 125px;
}
.left {
    padding-left: 5px;
    border-right: 1px solid gray;
}
td {
    border-top: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cardHealth {
    position: absolute;
    bottom: 8px;
    right: 25px;
}
.damageCounter:not(.blueDamage) {
    position: absolute;
    bottom: 8px;
    left: 25px;
    color: red;
}
#board {
    border: 10px gold groove;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    background-color: paleturquoise;
}
main h1 {
    text-align: center;
}
