body {
    background-color: aliceblue;
    /*text-align: center;*/
    margin: 0;
    padding: 0;
}
.cardThatIsActive:not(:empty), .activePlayerPlayedCards:not(:empty), .inactivePlayerPlayedCards:not(:empty) {
    display: inline-block;
    width: 100px;
    height: 125px;
    position: absolute; /* work with this!!!!!! loop through it in javascript? */ 
    margin-top: -70px;

    
    /*height: 100%;
    width: auto;
    background-color: yellow;
    margin: 5px;*/
}

/*.hand {
    background-color: skyblue;
    /*display: flex;
    justify-content: center;
    
}*/
/*#board {
    background-color: skyblue;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}*/
.playCardButton {
    display: block;
    background-color: teal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.inactive { /* these are the inactive cards in the other person's hand */
    display: inline-block;
    width: 100px;
    height:150px;
    background-color: #ffa500;
    padding: 10px;
    margin: 10px;
}
/*.card {
    position: relative;
    /*display: flex;
    width: 100px;
    height: 150px;
    background-color: orangered;
    margin: 2px;
    border: 1px solid;
    padding: 0;
    flex-direction: column;

}*/
/* #boardDebug {
    display: flex;
    margin: 0;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
} */
/* .stuff {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
} */
/*.cardFaceUp:hover .abilityInformation {
    display:block;
    position:fixed;
    overflow:hidden;
    background: yellow;
    max-width: 300px;
}*/
[id^="hover"] {
    text-align: left;
    padding: 5px;
}
.inactivePlayerPlayedCards.active {
    border-color: red; /* figure out css variables? */
    -webkit-box-shadow: 0 0 5px red;
       -moz-box-shadow: 0 0 5px red;
            box-shadow: 0 0 5px red;
}
.activePlayerPlayedCards.active {
    border-color: blue; /* css variables lol */
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;
}
.abilityPopout {
    position: relative;
    top: -30%;
    right: -100%;
    height: auto;
    width: 200%;
    background: yellow;
    padding: 5px;
    z-index: 3;
}
.red {
    color: red;
}
tr:not(.functions), td:not(.functions) {
    height: 150px;
}
.hand .right {
    margin-top: -15px;
}
.left {
    width: 125px;
}
td {
    border-top: 5px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
}
