.abilityBadge {
    height: 30px;
    float: left;

}
.abilityBadge, .abilityButton {
    margin-right: 10px;
}
.card {
    display: inline-block;
    position: relative;
}
.cardMain {
    height: 125px;
    width: 100px;
    display: block;
    position: relative;
    /* border-top-left-radius: 50px 75px;
    border-top-right-radius: 50px 75px;
    border-bottom-left-radius: 50px 75px;
    border-bottom-right-radius: 50px 75px; */
}
.cardMain .cardHealth {
    position: absolute;
    bottom: 9px;
    right: 25px;
}
.cardPopout {
    display: none;
    position: absolute;
    left: 100%;
    top: 0%;
    width: 200px;
    background: yellow;
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
}